.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em;
  border: solid 1px goldenrod;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.icon {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
  border: solid 3px rebeccapurple;
}

.icon.active {
  border-color: green;
}

.clock {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5rem;
}
