.container {
  display: flex;
  align-items: center;
  max-width: 400px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgba(240, 248, 255, 0.57);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
}

.btnGroup {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.inputGroup {
  display: flex;
  gap: 0.5em;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5em;
  box-shadow: 12px 57px 80px rgba(0, 0, 0, 0.15);
}

.inputGroup:focus-within {
  box-shadow: 0.8px 0.1px 5.3px rgba(127, 246, 100, 0.803),
    2.7px 0.4px 17.9px rgba(0, 0, 0, 0.109), 12px 2px 80px rgba(0, 0, 0, 0.15);
}

.input {
  border: none;
  outline: none;
  flex: 1;
}

.btn {
  padding: 0.5em;
  border: none;
  border-radius: 8px;
}

.submitBtn {
  padding: 0.5em;
  border: none;
  border-radius: 8px;
  background-color: blueviolet;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
