.container {
  min-height: 100vh;
  background-color: #272727;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 1.5em;
}

.brand {
  color: darkgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.3em;
  margin: 0;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 3em;
  color: #fff;
  display: none;
}

.menuBtn {
  background: none;
  border: none;
}

.bars {
  color: #fff;
  font-size: 2.5em;
}

.menuList {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navLink {
  padding: 1rem 2rem;
  display: flex;
  gap: 0.5em;
  align-items: center;
  text-decoration: none;
  font-size: 1.3em;
  transition: all 0.2s;
  color: #fff;
  font-weight: 500;
}

.navLink > svg {
  color: #fff;
  font-size: 1.5em;
}

.navLink:hover {
  background-color: lightblue;
  color: #272727;
}

.navLink:hover > svg {
  color: darkgreen;
}

.hide {
  display: none;
}

.logInBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  width: 80%;
  align-self: center;
  text-decoration: none;
  border: none;
  background: cornflowerblue;
  border-radius: 8px;
  padding: 0.25em 0.5em;
  color: #fff;
  text-align: center;
  margin-top: 1em;
  box-shadow: 0px 1.8px 0px rgba(0, 0, 0, 0.12),
    0px 14px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
}

.logInBtn:hover,
.logInBtn:active {
  background-color: darkturquoise;
  color: #fff;
  transform: translateY(2px);
  box-shadow: 0px 0.9px 0px rgba(0, 0, 0, 0.12), 0px 7px 0px rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }

  .header {
    display: none;
  }

  .closeBtn {
    display: block;
  }
}
